@use "../../assets/sass/variables" as *;

.instructions-menu {
  font-family: 'Courier New', Courier, monospace;
  background-color: $color-blue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__cross {
    position: absolute;
    top: 20px;
    right: 50px;

    &:hover {
      cursor: pointer;
    }
  }
  &__title {
    color: $color-white;
    font-size: 3rem;
    margin:1rem;
    padding:1rem;
    
  }
  &__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: inside;
    color: $color-white;
    font-size:1.5rem;
    width: 60vw;
    li{
      margin:1rem;
    }
  
    
  }

}
