@use "../../assets/sass/variables" as *;

.save-button {
  min-width: 80px;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  background-color: $color-buttons-backgorund;
  color: $color-buttons-icons;

}

