@use "../../assets/sass/variables" as *;
.ticket-counter{
    background-color: $color-blue;
    color:$color-notwhite;
    height:150px;
    border-radius: 20px;
    text-align: center;
    margin:1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .counter{
        display: flex;
        flex-direction: row;
        align-items: center;
        .icon{
            font-size: 2rem;
        }
        .counter__buttons{
            background-color: $color-buttons-backgorund;
            color:$color-buttons-icons;
            border-radius:50px;
            padding:0.5rem;
            margin:0.5rem;
            &:hover{
                transition-duration: 0.1s;
                background-color: $color-buttons-hover;
                cursor: pointer;
            }
        }
        .counter__tickets{
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
    .delete{
        .delete__buttons{
            background-color: $color-buttons-backgorund;
            color:$color-buttons-icons;
            border-radius:50px;
            padding:0.5rem;
            margin:0.5rem;
            &:hover{
                transition-duration: 0.1s;
                background-color: $color-buttons-hover;
                cursor: pointer;
            }
            .icon{
                font-size: 1.5rem;
            }
        }
    }
}