@use "../../assets/sass/variables" as *;
.settings-menu {
    font-family: 'Courier New', Courier, monospace;
    background-color: $color-blue;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
  
    &__content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    &__cross {
      position: absolute;
      top: 20px;
      right: 50px;
      
      &:hover {
        cursor: pointer;
      }
    }
    &__profile{
      width:200px;
    }
    &__title {
      color: $color-white;
      font-size: 30px;
    }
  
    &__form {
      display: grid;
      font-size: 20px;
      color: $color-white;
      justify-items: center;
    }
  
    &__input {
      margin: 10px 0;
      padding: 10px;
      font-size: 20px;
      border-radius: 15px;
      border: 5px solid $color-grey;
      color: $color-black;
  
      &:focus {
        outline: none;
        border: 5px solid $color-text;
      }
    }
  }
  
