.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    &__settings{
        &:hover{
            cursor: pointer;
        }
    }
    &__instructions{
        &:hover{
            cursor: pointer;
        }
    }

}