*{
  margin:0;
  padding: 0;
}
.container{
  font-family: 'Courier New', Courier, monospace;
  .container__header{
    text-align: center;
    font-size: 3rem;
    color:#1B1717;
    padding:2rem;
  }
  .container__team{
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .team{
      background-color: #EEEBDD;
      border-radius: 20px;
      margin:2rem;
    }
  }
}
@media only screen and (min-width: 768px){
  .container{
    .container__team{
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
  }
}
@media only screen and (min-width: 1024px){
  .container{
    .container__team{
      display:grid;
      grid-template-columns: repeat(5,1fr);
    }
  }
}

