@use "./assets/sass/variables" as *;
*{
  margin:0;
  padding: 0;
}
body{
  background-color:$color-blue;
  padding: 1rem;
  margin:1rem;
}

.container{
  font-family: 'Courier New', Courier, monospace;
  .container__heading{
    text-align: center;
    font-size: 1.5rem;
    color:#EEEBDD;
    padding:2rem;
  }
  .container__team{
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 768px){
  .container{
    .container__heading{
      font-size: 2rem;
    }
    .container__team{
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
@media only screen and (min-width: 1024px){
  .container{
    .container__heading{
      font-size: 3rem;
    }
    .container__team{
      display:grid;
      grid-template-columns: repeat(5,1fr);
      justify-content: space-between;
      justify-items: center;
    }
  }
}


