.employee{
    background-color: #810000;
    color:#EEEEEE;
    border-radius: 20px;
    text-align: center;
    margin:1rem;
    padding:1rem;
    .employee__header{
        font-weight: 600;
        font-size: 2rem;
    }
    .employee__role{
        font-size:1.5rem;
    }
    
}