$color-black: #2d3436;
$color-white: #ffffff;
$color-grey: #d1d1e9;

$color-blue:#8c99ad;
$color-primary: #5dadb0;
$color-secondary: #fdcb6e;
$color-darkRed:#810000;
$color-red:#CE1212;
$color-notwhite:#EEEEEE;
$color-buttons-icons:#EEEBDD;
$color-background-card:#EEEBDD;
$color-buttons-backgorund:#1B1717;
$color-text:#1B1717;
$color-buttons-hover:#3A3A3A;
$color-settings-background:#393E46;
